body{
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.jumbotron{
    font-family: "Shadows Into Light";
    font-size: 60px;
    letter-spacing: 5px;
    opacity: 0.2;
}

 .container {
        width: 100%;
        height: 50px;
        margin: 0 auto;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h1{
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;

}

h3 {
    display : inline;
    padding-left: 10px;
    color: red;
}

.fa{
    color : blueviolet;
}

.modal-title{
    color: black;
}

.wordColor{
    color: black;
}

.well{
    cursor: pointer;
}

.blue{
    color: blue;
}

.calander_style{
    
    border-width: 0;
    width: 100%; 
    height: 600px; 
}

