<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <!--AngularJS-->
        <script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
        <script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>

        <!--Bootstrap -->
        <link rel= "stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
        <!--UI Bootstrap-->
        <script src= "https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>

        <!-- Fonts -->
         <link href="https://fonts.googleapis.com/css?family=Julee" rel="stylesheet"> 
         <link href="https://fonts.googleapis.com/css?family=Julee|Shadows+Into+Light" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- CSS Files -->
        <link href="css/style.css" rel="stylesheet">
        

        <!-- JS files -->
        <script src="app/app.js"></script>
        <script src="app/accounts/accountsGalleryCtrl.js"></script>
       
        <script src="app/home/homeCtrl.js"></script>
        <script src="app/loginCtrl/loginCtrl.js"></script>
        <script src="app/services/logInService.js"></script>
        <script src="app/services/createUserService.js"></script>
        <script src="app/services/createAccountService.js"></script>
        <script src="app/services/accountService.js"></script>
        <script src="app/loginModal/loginModalCtrl.js"></script>
        <script src="app/accounts/accountDetailsCtrl.js"></script>
        



    </head>

    <body ng-app="housing">
        
            <nav class="navbar navbar-default navbar-fixed-top topnav container" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Household</a>
                </div>
            

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-controller="logInCtrl">
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-show="isLogedIn()"><a href="#">Update Account</a></li>
                        <li ng-show="isLogedIn()"><a href="#">Delete Account</a></li>
                        <li ng-show="isLogedIn()"><a href="#">Print</a></li>
                        <li ng-show="isLogedIn()" ng-click="logout()"><a href="#">Logout</a></li>
                        <li ng-hide="isLogedIn()" ng-click="login()"><a href="#">Login</a></li>
                    </ul>
                </div>
               
            </nav>

            <ng-view></ng-view>

    </body>
</html>