
<div id="printThisElement" class="container">
    
    <div class="page-header">
      <h1>{{first}}'s Accounts</h1>
    </div>
    
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" ng-repeat="account in accountArr" >
        
        <div class="well" ng-click="openDetails($index)">
            <i ng-class="getIcon(account)" aria-hidden="true"></i>
            <h3>{{account.service}}</h3>
        </div>
        
    </div>
    
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" >
        
        <div class="well" ng-click="newAccount()">
            <i class="fa fa-plus-square fa-2x" aria-hidden="true"></i>
            <h3>Add Account</h3>
        </div>
        
    </div>
    
</div>


