<!--This view is responsible for showing, updating and deleting a recipe-->

<div class="container">

  <div class="page-header">
    <h1>Creating New Account</h1>
  </div>

  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <form class="form-horizontal">
      
      <div class="form-group">
        <label class="control-label col-sm-2">Select Service:</label>
        <div class="col-sm-10">
          <select class="form-control" id="service" placeholder="Enter Service Name" ng-model="account.service">
            <option ng-repeat="option in serviceOptions">{{option}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">Company Name:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="company" placeholder="Enter Company Name" ng-model="account.company">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">Plan Description:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="desc" placeholder="Enter account description" ng-model="account.plan_description">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">Starting Date:</label>
        <div class="col-sm-10">
          <input id="starting_date" class="form-control" type="date" value="{{account.starting_date | date: 'MM/dd/yyyy'}}" ng-model="account.starting_date" />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">Ending Date:</label>
        <div class="col-sm-10">
          <input id="starting_date" class="form-control" type="date" value="{{account.ending_date | date: 'MM/dd/yyyy'}}" ng-model="account.ending_date" />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">Plan Rate:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="rate" placeholder="Enter Rate" ng-model="account.rate">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">Comapny's Phone:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="phone" placeholder="Enter Phone" ng-model="account.phone">
        </div>
      </div>


      <div class="form-group">
        <label type="checkbox" class="control-label col-sm-2">Notification</label>
        <div class="col-sm-10">
            <input id="notification" type="checkbox" ng-checked="account.calander_notification">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="pull-right">
            <button type="summit" class="btn btn-default" ng-click="cancel()">Cancel</button>
            <button type="summit" class="btn btn-primary" ng-click="create()">Create</button>
          </div>
        </div>
      </div>
    </form>
  </div>


</div>